.hidden {
  display: none;
}

#card-errors {
  color: rgb(255, 72, 0);
  text-align: left;
  font-size: 15px;
  line-height: 19px;
  margin-top: 12px;
}

#card-element {
  border-radius: 4px 4px 0 0;
  padding: 15px;
  border: 2px solid rgba(50, 50, 93, 0.1);
  height: 54px;
  width: 99%;
  background: white;
}

#payment-request-button {
  margin-top: 12px;
  margin-bottom: 12px;
}

/* Buttons and links */
#payment-request-button {
  color: #ffffff;
  font-family: Arial, sans-serif;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 300;
  cursor: pointer;
  transition: all 0.2s ease;
  box-shadow: 0px 4px 5.5px 0px rgba(0, 0, 0, 0.07);
  width: 100%;
}

#payment-request-button:hover {
  filter: contrast(100%);
}